[Desktop Entry]
Name=madOS PDF Viewer
Comment=PDF viewer with annotations
Exec=/usr/local/bin/mados-pdf-viewer %f
Icon=application-pdf
Terminal=false
Type=Application
Categories=Office;Viewer;
MimeType=application/pdf;
StartupWMClass=mados-pdf-viewer
StartupNotify=true
